* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.slider__title {
margin-bottom: 20px;
}

.slider {
    margin: 20px auto;
    max-width: 800px;
}

.slider__button-container {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
  }

  .slider__button {
    background: none;
    border: 1px solid black;
    box-shadow: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
  }

  .slider__button:hover {
    background: #eee;
  }

.slider__slide-list{
    list-style: none;
}

.slider__photo {
    max-width: 100%;
}